@import url('https://fonts.googleapis.com/css2?family=Special+Elite&family=Train+One&display=swap');

body {
    font-family: 'Special Elite', cursive;
    color: white;
    text-align: center;
    background: #112 url(//images.weserv.nl/?url=i.imgur.com/6QJjYMe.jpg);
    background-size:cover;
    /* margin:0 */
}

section {
    align-content: center;
}

button {
    font-family: inherit;
    display: block;
    /* align-self: center; */
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    margin: 5px;
    width: 100%;
    /* text-align: center; */
    text-decoration: none;
}

button:hover {
    background-color: rgb(0, 255, 179);
    color: black;
}

#start-game-btn:hover {
    background-color: rgb(0, 255, 179, 0.3);
}

#submit-btn:hover {
    background-color: rgb(0, 255, 179, 0.3);
}

#try-again-btn:hover {
    background-color: rgb(0, 255, 179, 0.3);
}

.d-none {
    display: none;
}

.d-inline {
    display: inline;
}

.neon-btn {
    font-family: 'Train One', cursive;
    text-align: center;
    background: none;
    font-size: 50px;
    padding: 25px;
    border: 5px groove #333;
    border-radius: 2rem;
}

.neon-btn:hover {
    border: 5px outset rgb(155, 154, 154);
}

.neon-btn b{
    color: #fee;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #00ffb3, 0 0 0.5em #00ffb3, 0 0 0.1em #00ffb3, 0 10px 3px #000;
}
.neon-btn b span{
    animation: blink linear infinite 2s;
}
.neon-btn b span:nth-of-type(2){
    animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

#initials {
    text-decoration: none;
    font-family: 'Train One', cursive;
    text-align: center;
    background:rgb(0, 255, 179, 0.3);
    font-size: 30px;
    border: none;
    border-radius: 2rem;
    text-transform: uppercase;
}

#initials:placeholder-shown {
    text-transform: none;
}